<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
</head>
<body>
    <div class="container">
        <h2>Your food diary for:</h2>
        <div class="date-selector">
            <button class="prev-date" (click)="previousDate()">&lt;</button>
    
            <span>{{ formattedDate }}</span>
    
            <button class="next-date" (click)="nextDate()">&gt;</button>
    
            <mat-form-field appearance="fill">
                <mat-label>Select date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="currentDate" (dateChange)="onDateChange($event)" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <app-meal-table [meals]="meals" mealType="BREAKFAST" (itemDeleted)="calculateTotals()"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="LUNCH" (itemDeleted)="calculateTotals()"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="DINNER" (itemDeleted)="calculateTotals()"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="SNACK" (itemDeleted)="calculateTotals()"></app-meal-table>

        <section class="totals">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Calories</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Protein</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Totals</td>
                        <td>{{ totalCalories }}</td>
                        <td>{{ totalCarbs }}</td>
                        <td>{{ totalFat }}</td>
                        <td>{{ totalProtein }}</td>
                    </tr>
                    <tr>
                        <td>Your daily goal</td>
                        <td>1.810</td>
                        <td>226</td>
                        <td>60</td>
                        <td>91</td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td>{{1810 - totalCalories }}</td>
                        <td>{{ 226 - totalCarbs }}</td>
                        <td>{{ 60 - totalFat }}</td>
                        <td>{{ 91 - totalProtein }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
