<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Diary</title>
</head>
<body>
    <div class="container">
        <h2>Seu diário de alimentos para:</h2>
        <div class="date-selector">
            <button class="prev-date">&lt;</button>
            <span>{{ formattedDate }}</span>
            <button class="next-date">&gt;</button>
            <button class="calendar">&#x1F4C5;</button>
        </div>

        <!-- Tabela de Refeições -->
        <app-meal-table [meals]="meals" mealType="BREAKFAST"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="LUNCH"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="DINNER"></app-meal-table>
        <app-meal-table [meals]="meals" mealType="SNACKS"></app-meal-table>

        <section class="totals">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Calories</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Protein</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Consumido</td>
                        <td>420</td>
                        <td>129</td>
                        <td>50</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td>Sua meta diária</td>
                        <td>1.810</td>
                        <td>226</td>
                        <td>60</td>
                        <td>91</td>
                    </tr>
                    <tr>
                        <td>Restantes</td>
                        <td>346</td>
                        <td>97</td>
                        <td>10</td>
                        <td>-20</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
