@import "../../../styles/variables.scss";

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
  }

  input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }

  button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.results-and-details {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;

  .results-table {
    width: 100%;
    max-width: 500px;
    overflow-x: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #0056b3;
        color: #fff;
        font-weight: bold;
      }

      tr {
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .food-detail-box {
    flex: 1;
    max-width: 300px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 15px;
      text-align: center;
    }

    label {
      display: block;
      font-size: 1em;
      margin: 10px 0 5px;
      color: #333;
    }

    input[type="number"],
    select {
      width: 100%;
      padding: 8px;
      font-size: 1em;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #0056b3;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
