<main>
    <section class="form-section">
        <img src="/assets/svg/mfpLogo.svg" width=75 height="auto" alt="Logo"/>
        <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <img src="/assets/svg/myfitnesspal.svg" width="597" height="680"/>
    </section>
</main>
